* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  display: flex;
  height: 97vh;
}

.left-column {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1.3;
  overflow: hidden;
}

.sidebar-image {
  height: 100%;
  margin-left: 50px;
}

.logo-container {
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 45px;
}

.sidebar-logo {
  width: 85%;
}

.right-column {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.row-one {
  background-color: whitesmoke;
  flex: 1.5;
  font-size: 25px;
}

.row-two {
  background-color: #fafafa;
  flex: 1.5;
}

.row-three {
  background-color: whitesmoke;
  flex: 1;
}

footer {
  height: 3vh;
}